
.search-form {
margin-left: 40%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
padding: 10px;
}

.photo-card {
    width: 20%;
    padding: 10px;
}

.info {
    display: flex;
    justify-content: space-around;
}

.load-more {
    margin-left: 45%;
    
}